## Exercise 1-a: Python format method of strings
Place a curly bracket "{}" in the appropriate place and fill inside .format()'s parenthesis so that "Hello!, Name" is printed.

In [1]:
name=input("Please enter your name.")

str="Hello!, {}".format(name)

print(str)

Please enter your name. Tony Stark

Hello!, Tony Stark

## Exercise 1-b: Format method to type a number
Using a string and .format() method print the number: 1 only.

In [2]:
print("{}".format(1))

1

## Exercise 1-c: Format method to fill multiple values
Now using a string and .format() method and three curly brackets, print the numbers: 1, 2, 3 each separated with a comma.

In [3]:
str = "{},{},{}".format(1,2,3)
print(str)

1,2,3

## Exercise 1-d: Format method for multiple values (more meaningful example)
Fill in the values for months, weeks and days accordingly.

In [4]:
str="One year has {} months, {} weeks and {} days.".format(12,52,365)

print(str)

One year has 12 months, 52 weeks and 365 days.

## Exercise 1-e: Format method w/ value position mapping
You can also use indexing inside your curly brackets so that you will decide the position instead of a default order.


By filling inside the curly brackets, make sure each bracket is matched to the appropriate value.

In [5]:
str="One year has {2} months, {0} weeks and {1} days.".format(52, 365, 12)

print(str)

One year has 12 months, 52 weeks and 365 days.

## Exercise 1-f: Mapping exam scores with Format method
Fill inside .format()'s parenthesis so that it matches the correct values.

In [6]:
John=75
Ann=80
Ally=60

str="Scores were as following: John:{}, Ann:{}, Ally:{}"

str=str.format(John, Ann, Ally)

print(str)

Scores were as following: John:75, Ann:80, Ally:60