## Exercise 11-a
Write a lambda function that takes x as parameter and returns x+2. Then assign it to a variable named L.

In [1]:
i=6

L= lambda i:i+2

print(L(i))

8

## Exercise 11-b
Write a lambda function which takes z as a parameter and returns z*11


Assign it to variable named: f.

In [2]:
i=9

f=lambda i:i*11

print(f(i))

99

## Exercise 11-c
Write a function which takes two arguments: a and b and returns the multiplication of them: a*b. Assign it to a variable named: f.

In [3]:
i,j=5,10

f=lambda i,j:i*j

print(f(i, j))

50

## Exercise 11-d
Using .sort() method, create a lambda function that sorts the list in descending order. Refrain from using the reverse parameter.


(Hint: lambda will be passed to sort method's key parameter as argument)


Please check out Hint 0 below to be informed about a glitch regarding this exercise.

In [4]:
lst=[100, 10, 10000, 1, 9, 999, 99]

lst.sort(key=lambda x:100/x)

print(lst)

[10000, 999, 100, 99, 10, 9, 1]

## Exercise 11-e
This time use the sorted() function to sort the list in ascending order with lambda.

In [5]:
lst=[100, 10, 10000, 1, 9, 999, 99]

lst=sorted(lst,key=lambda x:x)

print(lst)

[1, 9, 10, 99, 100, 999, 10000]

## Exercise 11-f
Using sorted() function and lambda sort the words in the list based on their second letter from a to z.

In [6]:
lst=["otter", "whale", "goose", "chipmunk", "fox", "sheep", "rabbit", "marten"]

lst=sorted(lst,key=lambda x:x[1])

print(lst)

['rabbit', 'marten', 'whale', 'chipmunk', 'sheep', 'goose', 'fox', 'otter']

## Exercise 11-g
Using sorted() function and lambda sort the tuples in the list based on the second items.

In [7]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

lst=sorted(lst, key=lambda x:x[1])

print(lst)

[(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

## Exercise 11-h
Using sorted() function and lambda sort the tuples in the list based on the last character of the second items.

In [8]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

lst=sorted(lst, key=lambda x:x[1][-1])

print(lst)

[(4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

## Exercise 11-i
Using sorted() function, reverse parameter and lambda sort the tuples in the list based on the last character of the second items in reverse order.

In [9]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

lst=sorted(lst, key=lambda x:x[1][-1], reverse=True)

print(lst)

[(626299, 'Vermont'), (19542209, 'New York'), (1420491, 'Hawaii'), (4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California')]