## Exercise 15-a
Using sorted() function, sort the list in ascending order.

In [1]:
lst1=[500, 1000, 400, 40000, 999, 2, 0.5, 17]

lst2=sorted(lst1)
print(lst2)

[0.5, 2, 17, 400, 500, 999, 1000, 40000]

## Exercise 15-b
Using sorted() function, sort the list from a to z.

In [2]:
lst1=["zebra", "bird", "ant", "porcupine", "giraffe"]

lst2=sorted(lst1)
print(lst2)

['ant', 'bird', 'giraffe', 'porcupine', 'zebra']

## Exercise 15-c
Using sorted() function sort the list from z to a.

In [3]:
lst1=["zebra", "bird", "ant", "porcupine", "giraffe"]

lst2=sorted(lst1,reverse=True)
print(lst2)

['zebra', 'porcupine', 'giraffe', 'bird', 'ant']

## Exercise 15-d
Using sorted() function sort the list in descending order.

In [4]:
lst1=[500, 1000, 400, 40000, 999, 2, 0.5, 17]

lst2=sorted(lst1,reverse=True)
print(lst2)

[40000, 1000, 999, 500, 400, 17, 2, 0.5]

## Exercise 15-e
Using len function and sorted() function, sort the list based on the length of the strings (In ascending order).

In [5]:
lakes1=["Malawi", "Medicine", "Tahoe", "Moraine", "Upper Arrow", "Plitvice", "Edith", "Emerald"]

lakes2 = sorted(lakes1, key=len, reverse=True)
print(lakes2)

['Upper Arrow', 'Medicine', 'Plitvice', 'Moraine', 'Emerald', 'Malawi', 'Tahoe', 'Edith']

## Exercise 15-g
Using lambda and sorted() function, sort the list based on last characters of the items from z to a.

In [6]:
lakes1=["Malawi", "Medicine", "Tahoe", "Moraine", "Upper Arrow", "Plitvice", "Edith", "Emerald"]

lakes2= sorted(lakes1, key=lambda x:x[-1], reverse=True)
print(lakes2)

['Upper Arrow', 'Malawi', 'Edith', 'Medicine', 'Tahoe', 'Moraine', 'Plitvice', 'Emerald']

## Exercise 15-h
Using lambda and sorted() function, sort the list based on the remainder from dividing each element to 5 (From greater to smaller).

In [7]:
lst1=[1000, 50, 66, 101, 333, 9999, 19, 300, 200, 250]

lst2=sorted(lst1, key=lambda x:x%5, reverse=True)
print(lst2)

[9999, 19, 333, 66, 101, 1000, 50, 300, 200, 250]